 <div class="list-image">
  <div class="container">
    <h3><%= @list.name %></h3>
  </div>
</div>



<div class="container">
  <div class="p-3">
     <div class="btn btn-success">
      <%= link_to 'Add a bookmark', new_list_bookmark_path(@list), :class => "btn text-white" %>
    </div>
  </div>
<div>

<% @list.bookmarks.each do |bookmark| %>
<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1682267825186-da88784ec9aa?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y2luZW1hJTIwYmxhY2slMjBhbmQlMjB3aGl0ZXxlbnwwfDB8MHx8fDA%3D" class="card-img-top" alt="image">
  <div class="card-body">
    <h5 class="card-title"><%= bookmark.movie.title %></h5>
    <p class="card-text"><%= bookmark.comment %></p>
    <%= link_to "ðŸ—‘ï¸", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  </div>
</div>
<% end %>

